<h1>Générateur de mot de passes</h1>
<strong>Longeur du mot de passe :</strong><br>
<input type="range" min="4" max="32" [(ngModel)]="length"><br>
<input type="number" [(ngModel)]="length">&nbsp;<span title="Pour une longueur supérieure à 32, utiliser ce champ">🛈</span><br>
<input type="checkbox" id="useLower" [(ngModel)]="useLower">&nbsp;<label for="useLower">Minuscules</label><br>
<input type="checkbox" id="useUpper" [(ngModel)]="useUpper">&nbsp;<label for="useUpper">Majuscules</label><br>
<input type="checkbox" id="useNumbers" [(ngModel)]="useNumbers">&nbsp;<label for="useNumbers">Chiffres</label><br>
<input type="checkbox" id="useSymbols" [(ngModel)]="useSymbols">&nbsp;<label for="useSymbols">Symboles</label><br>
<input type="checkbox" id="avoidSimilar" [(ngModel)]="avoidSimilar">&nbsp;<label for="avoidSimilar">Exclure les caractères similaires ({{ similar.split('').join(' ') }})</label><br>

<button class="btn btn-primary" (click)="generate()">Générer</button>

<samp>{{ history[0] }}</samp>

<details>
	<summary>Historique</summary>
	<ul>
		<li *ngFor="let password of history">{{ password }}</li>
	</ul>
</details>