{% extends "PagePrincipaleHome.html" %}
{% block content %}
    <div class="home">
        <BODY bgcolor="brown">
        <form method="POST" action="">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div>
                {{ msgHtml }}
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <center>
                <H1>Clavioter un nouveau VOITURE</H1> <br>
                model <input type = "text" name= "modelVoitureHTML" /> <br>
                <input type = "submit">
            </center>
        </form>
        </BODY>
    </div>
{% endblock %}