a {
	text-align: center;
}

.link {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid black;
	border-radius: 10px;
}

li.icon-moodle {
	list-style-image: url('/medias/home/moodle.ico');
}

li.icon-discord {
	list-style-image: url('/medias/home/discord.ico');
}

li.icon-trash {
	list-style-image: url('/medias/home/trash.ico');
}

li.icon-hyperplanning {
	list-style-image: url('/medias/home/hyperplanning.ico');
}
