<h1>Plan du site</h1>
<h3>Partie 1</h3>
<ul>
	<li><a href="/bin/n_to_10">Conversion base n en base 10</a></li>
	<li><a href="/bin/10_to_n">Conversion base 10 en base n</a></li>
	<li><a href="/bin/voc">Vocabulaire</a></li>
	<li><a href="/bin/bin_hex">Conversion binaire - hexa</a></li>
	<li><a href="/bin/gray">Code Gray</a></li>
	<li><a href="/bin/bcd">BCD</a></li>
	<li><a href="/bin/x_parmi_n">Code x parmi n</a></li>
	<li><a href="/bin/ascii">Code ASCII</a></li>
	<li><a href="/bin/unicode_utf8">L'Unicode et UTF-8</a></li>
	<li><a href="/bin/ean">Les codes-barres EAN</a></li>
	<li><a href="/bin/qr_code">Les QR codes</a></li>
	<br>
	<li><a href="/bin/convertisseur">Convertisseur</a></li>
</ul>
<h3>Partie 2</h3>
<ul>
	<li><a href="/bin/addition">Additions en binaire</a></li>
	<li><a href="/bin/negativ">Soustractions et nombres négatifs</a></li>
	<li><a href="/bin/float">Nombres à virgules flottantes</a></li>
	<li><a href="/bin/fonctions_logiques">Les fonctions logiques</a></li>
</ul>
<h3><a href="/bin/partie3">Partie 3</a></h3>
<!--<h3>Partie 4</h3>
<ul>
	<li></li>
</ul>-->