<nav class="navbar navbar-expand navbar bg-light">
	<div class="container-fluid">
		<ul class="navbar-nav mr-auto btn-group">
			<li class="nav-item btn btn-outline-primary">Accueil</li>
			<li class="nav-item btn btn-outline-primary" routerLink="/">Menu</li>
			<li class="nav-item btn btn-outline-primary" routerLink="/srs">SRS</li>
			<li class="nav-item btn btn-outline-primary" *ngIf="!is_logged()" data-bs-toggle="modal" href="#loginModal">Se connecter</li>
			<li class="nav-item btn btn-outline-primary" *ngIf="!is_logged()" data-bs-toggle="modal" href="#registerModal">S'inscrire</li>
			<li class="nav-item btn btn-outline-danger" (click)="logout()" *ngIf="is_logged()">Se déconnecter</li>
		</ul>
		<span class="navbar-text">© Burkhalter Yannis</span>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<app-login></app-login>
<app-register></app-register>