<h1>Plan du site</h1>
<ul>
	<li><strong><a href="" routerLink="/bdd/fk_theorie">Mieux comprendre les FK</a></strong></li>
	<li><a href="" routerLink="/bdd/install_mysql">Installer un serveur MySQL</a></li>
	<li><a href="" routerLink="/bdd/phpmyadmin">Prise en main de phpMyAdmin</a></li>
	<li><a href="" routerLink="/bdd/fk">Lier un champ FK_</a></li>
	<li><a href="" routerLink="/bdd/sql_select">Récuperer des données avec des requêtes SQL</a></li>
	<li><a href="" routerLink="/bdd/sql_inner_join">Requêtes sur plusieurs tables</a></li>
</ul>