<h1>Plan du site</h1>
<p><a href="" routerLink="/html/site_web">Qu'est-ce qu'un site web ?</a></p>
<h3>HTML</h3>
<ul>
	<li><a href="" routerLink="/html/html_base">Les bases du HTML</a></li>
	<li><a href="" routerLink="/html/types_balises">Les types de balises</a></li>
	<li><a href="" routerLink="/html/structure_101">Structure attendue pour le module 101</a></li>
	<li><a href="" routerLink="/html/hypertexte">Les liens hypertextes</a></li>
	<li><a href="" routerLink="/html/image">Les images (+ audio et vidéo)</a></li>
	<li><a href="" routerLink="/html/liste">Les listes</a></li>
	<li><a href="" routerLink="/html/table">Les tableaux</a></li>
	<li><a href="" routerLink="/html/form">Les formulaires</a></li>
	<li><a href="" routerLink="/html/iframe">L'intégration (iframe)</a></li>
</ul>
<h3>CSS</h3>
<ul>
	<li><a href="" routerLink="/html/css_base">Les bases du CSS</a></li>
	<li><a href="" routerLink="/html/css_marges">Les marges</a></li>
	<li>à suivre...</li>
</ul>
<h3>JavaScript</h3>
<ul>
	<li>à venir...</li>
</ul>
<h4>Liens utiles</h4>
<ul>
	<li><a href="https://www.w3schools.com/" target="_blank">W3Schools</a></li>
	<li><a href="https://validator.w3.org/" target="_blank">validator.w3.org (pour vérifier votre code HTML)</a>
</ul>