<h1>Plan du site</h1>
<ul>
	<li><a href="" routerLink="/java/new">Créer un nouveau projet</a></li>
	<li><a href="" routerLink="/java/commentaires">Les commentaires</a></li>
	<li><a href="" routerLink="/java/variables">Les variables</a></li>
	<li><a href="" routerLink="/java/operateurs">Les opérateurs</a></li>
	<li><a href="" routerLink="/java/afficher">Afficher du texte dans la console</a></li>
	<li><a href="" routerLink="/java/clavier">Lire les entrées clavier</a></li>
	<li><a href="" routerLink="/java/conditions">Les conditions</a></li>
	<li><a href="" routerLink="/java/conditions_avancees">Les conditions avancées</a></li>
	<li><a href="" routerLink="/java/boucles">Les boucles</a></li>
	<li><a href="" routerLink="/java/conversion_boucle">Conversion d'un for en while et inversement</a></li>
	<li><a href="" routerLink="/java/methodes">Les méthodes</a></li>
	<li><a href="" routerLink="/java/tableaux">Les tableaux</a></li>
	<li><a href="" routerLink="/java/tri_a_bulle">Tri à bulle</a></li>
	<br>
	<li><a href="" routerLink="/java/structogramme">Symboles Nassi-Shneidermann</a></li>
</ul>