{% extends "PagePrincipaleHome.html" %}
{% block content %}
    <div class="home">
        
        <form method="POST" action="">

        <div>
            {{ msgHtml }}
        </div>
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id</th>
                    <td> <a href="{{ url_for('tests.testsAddPydef') }}">Add</a> </td>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td> <a href="{{ url_for('tests.testsEditPydef', idEditHTML=row.id) }}">Edit</a> </td>
                    <td> <a href="{{ url_for('tests.testsSelectDeletePydef', idDeleteHTML=row.id) }}">Delete</a> </td>
                </tr>
            {% endfor %}
        </table>
        </form>
        
    </div>
{% endblock %}