<h1>Plan du site</h1>
<ul>
	<li><a href="" routerLink="/access/tables">Les tables</a></li>
	<li><a href="" routerLink="/access/relations">Les relations</a></li>
	<li><a href="" routerLink="/access/valide_si">Valide si</a></li>
	<li><a href="" routerLink="/access/donnees">Ajouter des données</a></li>
	<li><a href="" routerLink="/access/listes_deroulantes">Listes déroulantes pour les FK</a></li>
	<li><a href="" routerLink="/access/formulaires">Créer un formulaire</a></li>
	<li><a href="" routerLink="/access/boutons">Ajouter des boutons aux formulaires</a></li>
	<li><a href="" routerLink="/access/vba">Les bases du VBA</a></li>
	<li><a href="" routerLink="/access/requetes">Afficher une liste avec une requête</a></li>
	<li><a href="" routerLink="/access/control_zone_liste">Importer, ajouter, modifier et supprimer des éléments d'une zone de liste (niveau avancé)</a></li>
	<li><a href="" routerLink="/access/etiquettes">Imprimer des étiquettes</a></li>
	<br>
	<li><strong>Bonus : </strong><a href="" routerLink="/access/access1">Ma base de données en Access 1.0</a></li>
</ul>